#recetasContainer h1,
#recetasContainer p {

  text-align: center;
}

#recetasContainer p span {
  font-weight: lighter;
  font-style: italic;
}

.recetasContainer {
  display: flex;
  padding: 10px;
}

#recetasContainer {
  padding: 15px 0;

}