button{
    background-color: #ff0000; 
    border: none;
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover{
    background-color: #bd3434;
    color: white;
}