 
 .cartWidget span{
     color: #fff;
    margin-left: 5px; 
    font-weight: bold;
    font-size: 1.2rem;
 }

.cartWidget {
    padding: 5px 10px;
    border: 2px solid #df5b03;
    border-radius: 10px;
    display: flex;
    background-color:#e2630f;
    align-content: center;
    align-items: center;
}

.cartWidget a {
    text-decoration: none;
}
.cartWidget:hover {
    background-color: #f26b0f;
    cursor: pointer;
}

.cartWidget .IconCart {
    font-size: 1.8rem;
    color: #fff;
}