@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Indie+Flower&display=swap');

.dancing-script {
    font-family: 'Dancing Script', cursive;
    font-weight: 700; 
  }
  
  .indie-flower {
    font-family: 'Indie Flower', cursive;
  }

.container h1{
  text-align: center;
}

.itemListContainer{ 
  margin-top: 20px;
  padding: 20px;
}
.itemListContainer_greeting {
  font-weight: bold;
  margin-bottom: 1rem; 
  flex-direction: column;
  align-items: center;
  background: red; 
  height: 55vh;
  color: white;
  background-image: url(./img/bg-navidad.jpg);
  background-size: cover;
  display: flex;
  background-position: center;
  align-content: center;
  justify-content: center;
} 

 .itemListContainer_greeting h1 {
  font-size: 4.5em;
  color: #ff0000; 
   
}
 .itemListContainer_greeting h2 {
  font-size: 1.5em;
  color: #bb0000; 
   
}

 