


#navbar {
    background-color: #F26B0F; 
    padding: 10px;
    border-bottom: 3px solid #ffffff; 
  }
  
  
  .nav-link {
    color: #ffffff; 
    margin-right: 15px; 
    font-weight: bold; 
    text-transform: uppercase; 
  }
  
  .nav-link:hover {
    font-weight: bold; 
    
    background: linear-gradient(180deg, rgba(240,165,0,0.15) 0%, rgba(213,146,0,0.2) 100%); 
  }
  
  
  #basic-nav-dropdown {
    color: #ffffff;
  }
  
  .navbar-brand {
    color: #f0a500; 
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-brand:hover {
    color: #ffffff;
  }

 
  
  
  .navbar-nav {
    display: flex;
    align-items: center;
  } 

  .logo {
    height: 50px; 
    max-height: 100%; 
  }
  

  #navbar .navbar-nav {
    margin: 0 auto;
  }
  
#navbar .container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  
  .navbar-nav {
    display: flex;
    gap: 15px; 
  }
  
  .navbar-collapse {
    justify-content: flex-end; 
  }
  