footer{
    background-color: #f26b0f;
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 20px;
}

footer img{
    width: 150px;
    height: 150px;
    margin: 10px;
}

footer p span{ 
    font-weight: bold;
}