
  
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 html{
    scroll-behavior: smooth;
      
 }

 /* Paleta de colores */
:root {
    --primary-color: #3D9970;
    --secondary-color: #FF9F1C;
    --bg-color: #F4F4F4;
    --text-color: #333;
    --highlight-color: #E63946;
  }
  
  /* Fuente y fondo general */
  body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  /* Botones */
  button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }
  
  /* Enlaces */
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--highlight-color);
  }
  
  /* Contenedor general */
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  